.login {
    width: 100%;
    justify-content: center;
    text-align: center;
}

a {
    color: white;
    text-decorator: underline;
}

a:hover {
    color: grey;
}

.button {
    background-color: white;
    color: black;
    transition: .2s linear;
    border-radius: 4px;
    padding: 4px 16px;
}

.button:hover {
    transform: rotateZ(5deg);
}

h2 {
    padding: 5% 0 8px 0;
    margin: auto auto;
    width: min-content;
    font-size: 32px;
}

.login-form {
    margin: auto auto;
    width: 192px;
    border: 1px solid white;
    padding: 8px 48px;
}