.notes-zone {
    box-sizing: border-box;
    #background-color: #5b5353;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    overflow: hidden;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0;
    border-radius: 0px 0px 0px 0px;
}

.notes-info {
    padding: 0 16px;
    width: 60%;
    #background-color: brown;
    box-sizing: border-box;
    display: flex;
    margin: auto;
}

.notes-info a {
    width: 50%;
    color: white;
    text-align: right;
    margin: auto auto;
}

.notes-info p {
    width: 50%;
    justify-content: left;
    display: flex;
    color: white;
}

.notes {
    box-sizing: border-box;
    #background-color: #5b5353;
    width: 80%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-content: left;
    flex-wrap: wrap;
    float: left;
    gap: 0;
    padding: 0;
    margin: 0;
    border-radius: 0px 0px 0px 0px;
}

.notes-box {
    width: min-content;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: left;
    padding: 0 0;
    margin: 8px;
    background-color: #0d0d0d;
    position: relative;
}


input {
    width: 98%;
    height: min-content
    display: flex;
    color: white;
    background-color: #0d0d0d;
    font-size: 18px;
    font-style: bold
    padding: 0 0;
    margin: 2px;
    border: 0;
}

textarea {
    width: 200px;
    height: min-content;
    display: flex;
    color: white;
    background-color: #0d0d0d;
    margin: 2px 0 15px 0;
    padding: 0;
    font-size: 14px;
    border: 2px solid;
}

input:hover {
    color: grey;
}

textarea:hover {
    color: grey;
}

.delete-button {
    color: red;
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
    padding: 3px 3px 3px 3px;
}

.date-created {
    color: grey;
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
}

.notes-zone-warning {
    font: Arial 24px;
    text-align: center;
    color: white;
    justify-content: center;
    display: absolute;
}

.note-form {
    margin: auto auto;
    width: min-content;
    padding: 8px 48px;
}
